.profile {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
}
.profileCenter {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

@media all and (max-width: 500px) {
  .profile .profileside {
    display: none;
  }
  .profile .rightSide {
    display: none;
  }
  .profile {
    display: flex;
    flex-flow: column;
  }
  .postshare {
    width: 95vw;
  }
  .postside > .postshare {
    align-self: center;
    gap: 0.5rem;
  }
  .postOptions svg {
    height: 25px;
    width: 25px;
  }
  .option {
    padding-left: 0;
    padding-right: 0;
  }
}
