.home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
}

@media all and (max-width: 500px) {
  .home .profileside {
    display: none;
  }
  .home .rightSide {
    display: none;
  }
  .home {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .postside {
    width: 85vw;
  }
  .postside > .postshare {
    align-self: center;
    gap: 0.5rem;
  }
  .postOptions svg {
    height: 25px;
    width: 25px;
  }
  .option {
    padding-left: 0;
    padding-right: 0;
  }
}
